{% extends "EconomiaWebApp/padre.html"%}

{%load static%} 
{% block Titulo %}
ECONOMIC APP
{% endblock Titulo %}

{% block ContenidoQueCambia %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'EconomiaWebApp/img/principal.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Informate</span>
          </p>
            <span class="section-heading-lower; font-size: 0.5 cm">Todo lo que necesitas saber de Economía</span>
          </h2>
          <p class="mb-3"> Lo podes encontrar en nuestro Blog de Economia y Finanzas.
      
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Aprendé</span>
              </p>
                <span class="section-heading-lower; font-size: 0.5 cm">A incrementar tus ingresos</span>
              </h2>
              <p class="mb-0">En nuestro Blog te contamos acerca de finanzas y criptomonedas para que puedas comenzar a generar más ganancias.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock ContenidoQueCambia %}