{% extends "EconomiaWebApp/padre.html"%}

{%load static%} 
{% block Titulo %}
SERVICIOS
{% endblock Titulo %}
{% block ContenidoQueCambia %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'EconomiaWebApp/img/servicios1.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">NOTICIAS DE ECONOMÍA</span>
          </h2>
          <p class="mb-3">La idea es compartir las ultimas novedades económicas sobre: Tipo de Cambio, Inflación, Regulaciones sobre Importaciones y Exportaciones y más.
          </p>
         
        </div>
      </div>
    </div>
  </section>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{%static 'EconomiaWebApp/img/servicios2.jpg'%}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">FINANZAS PERSONALES</span>
          </h2>
          <p class="mb-3">La idea es compartir novedades acerca de como invertir en Criptomonedas, Cedears, Bonos para generar más rendimientos.
          </p>
         
        </div>
      </div>
    </div>
  </section>



  
{% endblock ContenidoQueCambia %}